# ClickHouse Database Configuration
CH_HOST=
CH_PORT=8123
CH_USER=
CH_PASSWORD=
CH_DATABASE=parolam

# Flask Application Configuration
FLASK_HOST=0.0.0.0
FLASK_PORT=80
FLASK_DEBUG=True

# Import Configuration
DEFAULT_BREACH_NAME=Collection-1
DEFAULT_BREACH_DATE=19-01-2019
BATCH_SIZE=100000 